<!DOCTYPE html>
<html>

<head>
  <link rel="shortcut icon" href="https://icon-library.com/images/free-movies-icon/free-movies-icon-16.jpg">
  <link rel="stylesheet" href="/stylesheets/index.css">
</head>

<body>
  {{{body}}}

</body>

</html>