<!DOCTYPE html>
<html>

<head>
  <link rel="shortcut icon"
    href="https://yt3.googleusercontent.com/ytc/AL5GRJWNFkKQnRDA04U8Kwp6hryPKEVdskQzvWAtLs1X=s900-c-k-c0x00ffffff-no-rj">
  <link rel="stylesheet" href="/stylesheets/index.css">
</head>

<body>
  {{{body}}}

</body>

</html>